USE [dntShop]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [varchar](10) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Avatar] [varchar](200) NOT NULL,
	[CreatedDate] [date] NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [varchar](10) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[BrandImages] [nvarchar](max) NULL,
	[Descriptions] [nvarchar](max) NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [varchar](10) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryImage] [varchar](max) NOT NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [varchar](10) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[Avatar] [varchar](200) NOT NULL,
	[CreatedDate] [date] NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [varchar](10) NOT NULL,
	[CustomerID] [varchar](10) NOT NULL,
	[Total] [int] NOT NULL,
	[ShipName] [nvarchar](100) NOT NULL,
	[ShipPhone] [varchar](20) NOT NULL,
	[ShipAddress] [nvarchar](200) NOT NULL,
	[ShipDate] [date] NOT NULL,
	[ShipNote] [nvarchar](max) NULL,
	[OrderDate] [date] NULL,
	[PaymentMethod] [nvarchar](100) NOT NULL,
	[ProcessStatus] [nvarchar](50) NOT NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrdersDetails]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[OdID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](10) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[SellingPrice] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [varchar](10) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Price] [int] NOT NULL,
	[DiscountProduct] [int] NOT NULL,
	[CategoryID] [varchar](10) NOT NULL,
	[BrandID] [varchar](10) NOT NULL,
	[Descriptions] [nvarchar](max) NULL,
	[Feature] [nvarchar](100) NULL,
	[Image1] [varchar](max) NULL,
	[Image2] [varchar](max) NULL,
	[Image3] [varchar](max) NULL,
	[Image4] [varchar](max) NULL,
	[IsStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductsDetails]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductsDetails](
	[ProductDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[CPU] [nvarchar](200) NULL,
	[Memory] [nvarchar](200) NULL,
	[VGA] [nvarchar](200) NULL,
	[HDD] [nvarchar](200) NULL,
	[Camera] [nvarchar](200) NULL,
	[Display] [nvarchar](300) NULL,
	[Battery] [nvarchar](100) NULL,
	[Weights] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ratings](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[CustomerID] [varchar](10) NOT NULL,
	[Rate] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[RatingDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [varchar](10) NOT NULL,
	[ProductID] [varchar](10) NOT NULL,
	[DateCreated] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[AverageRatings]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[AverageRatings] as
	select ROW_NUMBER() OVER (ORDER BY p.ProductName) AS id, p.ProductID, p.ProductName, AVG(convert(decimal(4,2),r.Rate)) as averageRating, AVG(r.Rate) as star
	from Products p join Ratings r on p.ProductID = r.ProductID
	group by p.ProductName, p.ProductID

GO
/****** Object:  View [dbo].[OrderListThisMonth]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[OrderListThisMonth] as
	SELECT * FROM Orders WHERE MONTH(OrderDate) = datepart(month,getdate())

GO
/****** Object:  View [dbo].[Report]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Report] as
	Select row_number() over (order by a.OrderID) as rowid, a.OrderID, b.ProductID,c.ProductName, a.OrderDate, a.ShipDate,b.SellingPrice, b.Quantity, d.CustomerID, d.FirstName,d.LastName,a.ShipName, a.ProcessStatus,Total=(b.SellingPrice*b.Quantity)      
	from Orders a join OrdersDetails b on a.OrderID = b.OrderID join Products c on b.ProductID=c.ProductID join Customers d on a.CustomerID =d.CustomerID

GO
/****** Object:  View [dbo].[TopRatingThisYear]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[TopRatingThisYear] as 	
	select TOP 10 p.ProductID, p.ProductName, p.Image1, p.Price, p.DiscountProduct, c.CategoryName,AVG(convert(decimal(4,2),r.Rate)) as averageRating, COUNT(convert(decimal(4,0),r.Rate)) as countRating
	from Products p join Ratings r on p.ProductID = r.ProductID join Categories c on p.CategoryID = c.CategoryID
	WHERE YEAR(r.RatingDate) = datepart(YEAR,getdate())
	group by p.ProductName, p.ProductID,p.Image1,p.Price,p.DiscountProduct,c.CategoryName
	ORDER BY averageRating DESC, countRating DESC

GO
/****** Object:  View [dbo].[TopSellingThisYear]    Script Date: 10/17/2018 12:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[TopSellingThisYear] as 
select TOP 10 p.ProductID, p.ProductName, p.Image1, p.Price, p.DiscountProduct, c.CategoryName, SUM(convert(decimal(4,0),r.Quantity)) as TopSelling
	from Products p join OrdersDetails r on p.ProductID = r.ProductID join Categories c on p.CategoryID = c.CategoryID join Orders o on o.OrderID = r.OrderID
	WHERE YEAR(o.OrderDate) = datepart(YEAR,getdate())
	group by p.ProductName, p.ProductID, p.Image1, p.Price, p.DiscountProduct,c.CategoryName
	ORDER BY TopSelling DESC, p.Price DESC

GO
INSERT [dbo].[Admins] ([AdminID], [Email], [Password], [FullName], [Avatar], [CreatedDate], [IsStatus]) VALUES (N'AD001', N'duy@mail.com', N'123456', N'Tu Khac Duy', N'images/Avatars/default-avatar.jpg', CAST(0xD73E0B00 AS Date), 1)
INSERT [dbo].[Admins] ([AdminID], [Email], [Password], [FullName], [Avatar], [CreatedDate], [IsStatus]) VALUES (N'AD002', N'thao@mail.com', N'123456', N'Le Phuong Thao', N'images/Avatars/default-avatar3.jpg', CAST(0xD73E0B00 AS Date), 1)
INSERT [dbo].[Admins] ([AdminID], [Email], [Password], [FullName], [Avatar], [CreatedDate], [IsStatus]) VALUES (N'AD003', N'nga@mail.com', N'123456', N'Tran Quynh Nga', N'images/Avatars/default-avatar4.jpg', CAST(0xD73E0B00 AS Date), 1)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandImages], [Descriptions], [IsStatus]) VALUES (N'BR001', N'Dell', N'images/Brands/1.png', N'The Dell name is a globally recognized brand and leader in the client solutions category among consumers and business/institutional customers. Use “Dell” in reference to client solutions and corporate functions.', 1)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandImages], [Descriptions], [IsStatus]) VALUES (N'BR002', N'HP', N'images/Brands/2.png', NULL, 1)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [BrandImages], [Descriptions], [IsStatus]) VALUES (N'BR003', N'Asus', N'images/Brands/3.png', N'ASUS is a Taiwan-based, multinational computer hardware and consumer electronics company that was established in 1989. Dedicated to creating products for today’s and tomorrow’s smart life, ASUS is the world’s No. 1 motherboard and gaming brand as well as a top-three consumer notebook vendor.', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsStatus]) VALUES (N'CA001', N'Laptops', N'images/Categories/shop01.png', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsStatus]) VALUES (N'CA002', N'Smartphones', N'images/Categories/shop02.png', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryImage], [IsStatus]) VALUES (N'CA003', N'Cameras', N'images/Categories/shop03.png', 1)
INSERT [dbo].[Customers] ([CustomerID], [Email], [Password], [FirstName], [LastName], [Gender], [Phone], [Address], [Avatar], [CreatedDate], [IsStatus]) VALUES (N'CS001', N'thang@mail.com', N'123456', N'Thang', N'Nguyen', 1, N'(096) 737-4508', N'590 CMT8, Q3, HCM', N'images/Avatars/default-avatar.jpg', CAST(0xD73E0B00 AS Date), 1)
INSERT [dbo].[Customers] ([CustomerID], [Email], [Password], [FirstName], [LastName], [Gender], [Phone], [Address], [Avatar], [CreatedDate], [IsStatus]) VALUES (N'CS002', N'duy@mail.com', N'123456', N'Duy', N'Khac', 1, N'(096) 737-7896', N'590 CMT8, Q3, HCM', N'images/Avatars/default-avatar2.jpg', CAST(0xD73E0B00 AS Date), 1)
INSERT [dbo].[Customers] ([CustomerID], [Email], [Password], [FirstName], [LastName], [Gender], [Phone], [Address], [Avatar], [CreatedDate], [IsStatus]) VALUES (N'CS003', N'khacduy4293@gmail.com', N'123456', N'Duy', N'Welcker', 1, N'(012) 345-6876', N'590 CMT8, Q3, HCM', N'images/Avatars/default-avatar2.jpg', CAST(0xD73E0B00 AS Date), 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [Total], [ShipName], [ShipPhone], [ShipAddress], [ShipDate], [ShipNote], [OrderDate], [PaymentMethod], [ProcessStatus], [IsStatus]) VALUES (N'OD0000001', N'CS003', 3026, N'Duy Welcker', N'(096) 737-4508', N'590 CMT8, Q3, HCM', CAST(0xD73E0B00 AS Date), N'', CAST(0xD73E0B00 AS Date), N'Cash On Delivery', N'Completed', 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [Total], [ShipName], [ShipPhone], [ShipAddress], [ShipDate], [ShipNote], [OrderDate], [PaymentMethod], [ProcessStatus], [IsStatus]) VALUES (N'OD0000002', N'CS004', 305, N'Nam Nguyen Hoang', N'(096) 737-3210', N'590 CMT8, Q3, HCM', CAST(0xD73E0B00 AS Date), N'', CAST(0xD73E0B00 AS Date), N'Cash On Delivery', N'Completed', 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [Total], [ShipName], [ShipPhone], [ShipAddress], [ShipDate], [ShipNote], [OrderDate], [PaymentMethod], [ProcessStatus], [IsStatus]) VALUES (N'OD0000003', N'CS005', 266, N'Syed Abbas', N'(096) 737-3232', N'590 CMT8, Q3, HCM', CAST(0xD73E0B00 AS Date), N'', CAST(0xD73E0B00 AS Date), N'Cash On Delivery', N'Completed', 1)
SET IDENTITY_INSERT [dbo].[OrdersDetails] ON 

INSERT [dbo].[OrdersDetails] ([OdID], [OrderID], [ProductID], [SellingPrice], [Quantity], [IsStatus]) VALUES (1, N'OD0000001', N'PR098', 826, 1, 1)
INSERT [dbo].[OrdersDetails] ([OdID], [OrderID], [ProductID], [SellingPrice], [Quantity], [IsStatus]) VALUES (2, N'OD0000001', N'PR097', 2200, 1, 1)
INSERT [dbo].[OrdersDetails] ([OdID], [OrderID], [ProductID], [SellingPrice], [Quantity], [IsStatus]) VALUES (3, N'OD0000002', N'PR094', 65, 1, 1)
SET IDENTITY_INSERT [dbo].[OrdersDetails] OFF
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [DiscountProduct], [CategoryID], [BrandID], [Descriptions], [Feature], [Image1], [Image2], [Image3], [Image4], [IsStatus]) VALUES (N'PR001', N'iPad Pro 12.9 WI-FI 4G', 1350, 5, N'CA005', N'BR004', N'iPad Pro 12.9 WI-FI 4G 256GB (2017)', N'--', N'P001-1.jpg', N'P001-2.jpg', N'P001-3.jpg', N'P001-4.jpg', 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [DiscountProduct], [CategoryID], [BrandID], [Descriptions], [Feature], [Image1], [Image2], [Image3], [Image4], [IsStatus]) VALUES (N'PR002', N'iPad Pro 10.5 WI-FI', 990, 0, N'CA005', N'BR004', N'iPad Pro 10.5 WI-FI 4G 256GB (2017)', N'--', N'P002-1.jpg', N'P002-2.jpg', N'P002-3.jpg', N'P002-4.jpg', 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [DiscountProduct], [CategoryID], [BrandID], [Descriptions], [Feature], [Image1], [Image2], [Image3], [Image4], [IsStatus]) VALUES (N'PR003', N'iPad 2018 WiFi+4G 32GB', 530, 0, N'CA005', N'BR004', N'iPad 2018 WiFi+4G 32GB', N'--', N'P003-1.jpg', N'P003-2.jpg', N'P003-3.jpg', N'P003-4.jpg', 1)
SET IDENTITY_INSERT [dbo].[ProductsDetails] ON 

INSERT [dbo].[ProductsDetails] ([ProductDetailsID], [ProductID], [CPU], [Memory], [VGA], [HDD], [Camera], [Display], [Battery], [Weights]) VALUES (1, N'PR001', N'Apple A10X Fusion', N'4GB', N'Power VR', N'64GB', N'12.0 MP', N'12.9 inch, 2732 x 2048 pixels', N'Lithium - Polymer 41 W/h', N'677 g')
INSERT [dbo].[ProductsDetails] ([ProductDetailsID], [ProductID], [CPU], [Memory], [VGA], [HDD], [Camera], [Display], [Battery], [Weights]) VALUES (2, N'PR002', N'Apple A10X Fusion', N'4GB', N'Power VR', N'64GB', N'12.0 MP', N'10.5 inch, 1668 x 2224 pixels', N'Lithium - Polymer 30.4 W/h', N'469 g')
INSERT [dbo].[ProductsDetails] ([ProductDetailsID], [ProductID], [CPU], [Memory], [VGA], [HDD], [Camera], [Display], [Battery], [Weights]) VALUES (3, N'PR003', N'A10 Fusion', N'2GB', N'PowerVR Series7XT Plus', N'32GB', N'8.0 MP', N'9.7 inches, 1536 x 2048 pixels', N'Li-Ion 32.4 Whs', N'478 g')
SET IDENTITY_INSERT [dbo].[ProductsDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([RatingID], [ProductID], [CustomerID], [Rate], [Content], [RatingDate]) VALUES (1, N'PR097', N'CS003', 5, N'good', CAST(0xD73E0B00 AS Date))
INSERT [dbo].[Ratings] ([RatingID], [ProductID], [CustomerID], [Rate], [Content], [RatingDate]) VALUES (2, N'PR098', N'CS003', 5, N'very good', CAST(0xD73E0B00 AS Date))
INSERT [dbo].[Ratings] ([RatingID], [ProductID], [CustomerID], [Rate], [Content], [RatingDate]) VALUES (3, N'PR095', N'CS004', 1, N'bad', CAST(0xD73E0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Ratings] OFF
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([WishlistID], [CustomerID], [ProductID], [DateCreated]) VALUES (1, N'CS001', N'PR098', CAST(0xD73E0B00 AS Date))
INSERT [dbo].[Wishlist] ([WishlistID], [CustomerID], [ProductID], [DateCreated]) VALUES (2, N'CS001', N'PR087', CAST(0xD73E0B00 AS Date))
INSERT [dbo].[Wishlist] ([WishlistID], [CustomerID], [ProductID], [DateCreated]) VALUES (3, N'CS001', N'PR088', CAST(0xD73E0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [Gender]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[OrdersDetails] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsStatus]
GO
ALTER TABLE [dbo].[Ratings] ADD  DEFAULT (getdate()) FOR [RatingDate]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_ProductsBrands] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_ProductsBrands]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_ProductsCategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_ProductsCategories]
GO
ALTER TABLE [dbo].[ProductsDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductsProDetails] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductsDetails] CHECK CONSTRAINT [FK_ProductsProDetails]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_RatingEmail] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_RatingEmail]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_RatingProduct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_RatingProduct]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
